@tailwind base;
@tailwind components;

@import './_fonts.css';

@layer base {
  :root {
    --primary-50: #f1f1ff;
    --primary-300: #e3e3ff;
    --primary-500: #8f8fff;
    --primary-700: #6b6bff;
    --primary-900: #5050ff;
  }
}

@tailwind utilities;
